@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
body {
  background: #ecebeb;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
}
body .drawBox {
  position: relative;
  height: 100%;
  width: 100%;
  max-height: 330px;
  max-width: 330px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
body .drawBox .smallHearts {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
body .drawBox .smallHearts .smallHeart {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M56.35 97.18l-3.7-3.36 3-3.35-6.31 2.37-2.54-4.17 7-6.51-9.94 6.44-3-4L52 74.71l-11.06 7.83-3.11-3.9L51.3 66.49 35 78.51l-3.13-3.89 6.07-5.31L31 74.5l-3.18-3.85L34 65l-7 5.47-3.23-3.77 13.75-13.21-16.47 13-3.38-3.69 4.42-4.75-3 2.41-3.39-3.65 11.5-12.49-9.93 7L14 47.46l5.9-5.91-6 4-3.32-3.65 6.73-8.08-2.1 1.51-3.27-3.76 1.81-1.93-2.39-4.32L22.86 19l3.43 1a3 3 0 01.37 1l3.58-2.56 3.38 3.63-8.18 9.82 12.67-8.45 3.16 3.85-3.52 3.52L43.21 27l3.27 3.74L41 36.7l4-3.16 3.38 3.66-4.91 5.28L74.45 18l3.28 3.76L63 35.94l21-16.41 3.22 3.82L70 39l18-13.5 3.15 3.88L80 39.12l9-6.63 3.15 3.87-19.44 17.55 13.34-9.45 3.11 3.91-20.52 18.24 6.5-4.21 3.06 3.93-18.71 17.38 4.13-1.55 2.73 4z" fill="%23d63b3b" /><path d="M46 90.54c.85.38-.18-.66.63.14-.25.11-.49.16-.63-.14zM65.69 77.46c1.15-3 4.85-4.75 6.37-7.73.21-.31.5.6.94-.15 1.29-3 4.91-6.27 7.86-8.82v.31c.57-.48.5-1.63 1-2.18.13.08 0 .31.29.29-.23-.41.64-1.25.56-1.71.31-.15.58.07 1-.15l-.16-.64c-.31-1.66 1.7-2.43 2-4.18.06.12.05.31.21.25.75-2.65 2.39-5.52 3.19-8.38.12.17.38.39.63.3-.44-.33-.23-1.22-.09-2 .61-.18-.06-1.43.45-2.22l.1.1c-.4-.78.53-.91 0-1.58l.51-.34c-.7-.41.51-.91.21-1.52h-.15c-.1-.53.28-.77.17-1.27h.09a5.47 5.47 0 010-1.32c0-.31-.07-.46-.36-.44.22-.2.29.06.39.31s.17.47.54.15a30.12 30.12 0 00-1.44-5.6 24.13 24.13 0 00-2.84-5c-.07-.48-.18-.75-.07-1-.17-.11-.39-.4-.67-.63a2 2 0 00-.81-.45c.1.09.05-.39-.08-.56-.33-.68-1-.06-1.38-.72.33.06.53 0 .59-.25a2.55 2.55 0 01-1.1-.39 6.58 6.58 0 00-1.08-.5c.15 0 .34 0 .41-.15a1.91 1.91 0 01-1.09-.29 1.82 1.82 0 00-1-.37l.38-.22c-1-.83-.54.52-1.45.05.26-.05.21-.2.29-.33a6.77 6.77 0 01-1.77.2h-.89a6.37 6.37 0 00-.77.17.17.17 0 000-.14c-.25 0-.51.06-.76.09l-.77.16a5.28 5.28 0 00-.78.21 4.06 4.06 0 00-.74.4c-.44 0-.17-.85-1.16-.31.3.61-1.57 1.05-.64 1.46-.44.15-1 .39-1.49.62a3.26 3.26 0 00-1.13.81c.21-.45-.85-.43-.23-.92h-.74c-.08-.28.58-.27.22-.45A17.34 17.34 0 0167 21.69c-.34.77-.33 1.82-1.16 2.64.24-.56-.74-.35-.54-.68q-.16 1.05-.3 2.07c-.26.29-.44-.33-.71.2.14.11 0 .36 0 .58-.17.05-1 1.27-1.6.95-.31-.05.33-.57-.14-.41-.49.54-.34.71-.82 1.26l-.07-.05c-.39.3-.71 1.26-.09 1.1.24-.23-.38-.16.08-.41.08.52-.39 1.2-.83 1.77.07-.26-.08-.35-.17-.55a12.06 12.06 0 01-1.19 3c.25.21-.21-.67 0-.69-1.21.82-1.2 2.65-2.39 3.21.06-.19.43.18.35.14-.42.53-.76.21-.89.7-.26-.1-.35.68-.66 1.3-.06.45-.18 0 .1-.45a28.87 28.87 0 01-1.34 2.79 16.81 16.81 0 01-2 3.26 4.33 4.33 0 01-.25 1.08 1.47 1.47 0 01-.78-.61l.14-.55c-.23-.82-1-1.41-.94-2-.3-.07.06.4.51.91s.94 1 1 1.17v.07c0 .07-.05 0-.1 0a.82.82 0 00-.6-.67c-.24-.11-.46-.23-.33-.56a6.69 6.69 0 00-.88-1 3.44 3.44 0 01-.79-1.36c.14.33.67-.07.24-.63-.78-1-.3-.09-1-.83l-.49-.44c-.29.28-.71-1.06-.72-.3 0-.1 0-.24-.15-.41l-.21-.29-.16-.19c-.2-.24-.35-.49 0-.66l.5-.22c-.28-.3-.86-.18-1.24-.29 0-.07 0-.22.11-.26-.68.46-.56-.81-1.36-.78-.31-.84-1.36-1.66-1.24-2.3a3.4 3.4 0 01-1.6-1.25c.16.06.31.19.47.11-.14-.51-.38-.45-.77-.67.16 0-.28-1-.44-1.59-.64-.3-.79.17-1 .32.16-1-1.66-.91-1.68-1.95.24.08 1 .37.71-.15.12-1-1.29-.37-1.73-1.3l-.27.66c0-.61-1.3-.6-.79-1.06-.39 0-.71-.89-1-.31-.87-1.41-3.13-1.91-3.32-3.36-.24 0-.65-.4-.73-.05.13.5.57 0 .55.32a.3.3 0 00-.36.12c-.32-.38-.63-.57 0-.85-.76-.82-1.46.42-2.51-.29.16-.23.12-.36-.25-.47a6 6 0 00-.82.17c-.72-.35-.24-.73-.11-1.16-.23 0-.47-.11-.69-.13a.69.69 0 00-.56.17l-.4-.68c.3.5-.42.17-.64.26a.94.94 0 01.22-.07c0-.23-.57-.15-.83-.12 0 .29.51.44.77.58-.25.14-.57.08-.88.28.15-.42-.64-.43-1-.43s-.42.41-.52.4c0-.24-.6 0-.34-.37.13-.07.31.23.51 0-.25-.16-.25-.59-.76-.26-.35.28.19.87-.53.7.16-.14.17-.33.3-.51l-.73-.12.06.41c-.11-.09-.06-.14-.11-.18-.12.41-1 .43-.95.91-.3.11-.74 0-1.06.09v-.06a1 1 0 00-1 .78v-.09a1.45 1.45 0 00-.67.79c-.62.12-1.13-1.07-1.29-.23-.46.43-.18 1.17.18 1.2-.94.57-1.21 1.88-2.3 2.4 0 .23.18.21.07.54a7.63 7.63 0 00-.73 1l-.36.6-.26.57a3.87 3.87 0 01-1.43 1.79c.07-.5-.35-.21-.57-.3.13.51-.57.27-.05.67.36.12.48.22.83-.12a5.63 5.63 0 01-1.27 2.69c.26-.19.29 0 .31.27-.55-.27-.81.41-.75 1l.32.17-.44.24c.05.23.67.41.19.83a.83.83 0 00-.41.07c.1.6.57 1.45.16 2l-.59.42c0 .26.27.71.49.29a6.93 6.93 0 00-.44 1.23 1.33 1.33 0 01-.47.73 21.4 21.4 0 011.74 6.27h-.28c-.14.61.52.17.44.59-.3-.11-.41.55-.85.21 0 .86.75.88 1 1.34.36 0-.33-.34.13-.37.14.05 0 1.15.59 1.09-.13.26-.56.24-.8.21l.43.38c-.19.38-.58.16-1-.07s-.79-.48-1.06 0a3.55 3.55 0 00.23.43c-.39.63-1-1-.8.21.44.42 1.33.56 1.38 0 .53 1 1.38 0 1.74 1.07-.18.4-.39-.81-.73-.45-.19.66.6.92.66 1.4 0-.56.64-.36.88-.1 0 .61-.62-.13-.32.62.34 0 .87.56.78-.1.76 0 .19.83.86 1-.32.47-1.37-.24-1.21.68.18-.17.45 0 .72.13s.57.18.76-.19c.05.37-.26.58-.64.49 0 .58 1.35.64.61 1.24l.51-.09c-.06.22-.05.47-.15.83.19.4 1.32.87.67 1.23.14.08.66 1 .88.35-.08-.7-.71-.41-.32-1.07-.23.67.55.72.9.92l-.2.2c.21.12.42.57.75.51a.25.25 0 00-.3.32l.48-.06c.69.59-.5.6.11 1.23l-.64-.4c.14.07 0 .54.34.81.41-.1 1-.14 1.3-.21.42.29-.23.44.37.58l-.75-.18c-.15 0-.27.73.12 1.25.37.25 1.22.41 1-.24.2.25.3.76-.09.73.57.5.27-.33.86 0 0 .37.17 1.24.19 1.87L20 64.5l.28.36c-.77-.13-.13.49-.76.58.12.31.53.46.83.6.09-1.26 1.59 0 2-.76 1 .77-1 1.9.82 2-.3 1 .42 1.65.18-.67.46.61 3.55 4.69 2.86 5 .64.66.11 1.14-.11 1.59.16.21.48.23.65.28.39-.25.14-.47.44-.82a3.61 3.61 0 002.27 1.35.37.37 0 01-.6.41A19.82 19.82 0 0131.59 77c-.09-1 1.11.72 1.11-.08a18.38 18.38 0 002.38 2.81c.55 1.12 2.24 1.78 3.06 2.35.25.55-.43.86 0 1.29.55.4 0-.86.64 0l-.15.05c.33 0 1.22 1.43 2 .85l-.67.39c.12.16.35.13.52.16-.13.19-.07.49-.4.43.22.76 1.11.69 1.66 1.06l-.11-.59c1.12.39 1.53 1.16 2.53 1.65l-.25.33.68.16c-.35.24 0 .79.5.7l-2-.12c-.27-.46.71-.12.68-.62s-.93-.92-1.29-.69c.3.26.37.2.71.25-.21.55-.7.19-1.16.33.19.1.34.41.47.29a2.55 2.55 0 01-1.5-.62c.51.08 0-.44.23-.47-.33.38-1 .13-1.56-.47-.16-.82-1.5-.63-2.2-1.33a3.31 3.31 0 011.87 0c-.35-.57-.56-.39-.9-1a2.29 2.29 0 01-1.76.17l.19-.32c-.69-.29-1 .16-1.7-.49-1.14-1.11-2.41-2.13-3.32-2.94l.2-.31c-1 .2-1.89-1.23-2.82-1.54-.92-1.29-2.76-2-2.89-3a33.05 33.05 0 01-5.92-5.33h.73c-.64-.1 0-.45-.39-.76.07.71-.9-.12-1.37-.17-.51-1.24-1.93-2.15-2.92-2.82l.26-.27a2.74 2.74 0 01-1.38-1.27c-.34-.58-.59-1.26-1-1.87a1.07 1.07 0 00-.11-1c-1-.27-1.11-.66-2.06-1.41a12.06 12.06 0 01-.73-1.33 10 10 0 01-.45-1.4 14.5 14.5 0 01-2.66-4l-2-4.6.35-.35a10.3 10.3 0 01-.61-1.14 8.83 8.83 0 01-.41-1.26 14.06 14.06 0 01-.44-2.7l-.18-2.62A16.05 16.05 0 004.93 39l.75.3a2.42 2.42 0 000-1.31c-.1-.37-.3-.62-.58-.54.35-.86 0-2.31.65-2.76.37-.85 0-1.16 0-1.94a34.25 34.25 0 001.5-4l-.2.38c.08.25.37.38.57 0a4.93 4.93 0 01.45-1.26c.17-.39.19-.68-.36-.6a9.63 9.63 0 001.55-2.67 6.67 6.67 0 011.88-2.36c-.29 0-.07-.41-.09-.67s.24-.33.37-.49.3-.31.46-.46l.93-.89c.29-.3.6-.57.9-.84a4.73 4.73 0 00.74-.89c.29-.09-.07.62.48.16.27-.34-.22-.26.14-.69a8.89 8.89 0 011.81-1.35 12.15 12.15 0 012.12-.81 26.62 26.62 0 014.31-.57 14 14 0 017 .9 32.41 32.41 0 015.72 3l-.13.12A3.34 3.34 0 0137.74 20a2.18 2.18 0 001.75 1c.13.33.87.83.47.95 1.14.3 1.88 2.27 3.37 2.87a.57.57 0 00-.34-.19C43.8 26 45.1 26.54 45.91 28c-.16-.06-.4-.24-.57-.15.17.67 1.54.56 1.11 1.39.24.25.49-.11.33-.25a51.25 51.25 0 003.4 4.01l.9 1c.15.13.23.17.33.25l.47.31a8.29 8.29 0 01.12 1.6c0 .35 0 .5.15.36v-.21V36c.06-.33.15 0 .26.18s.25.36.25-.07c-.22-.63 0-.54-.12-1 .41 0 .91.1.93-.66l.19.22c0-.17-.07-.21 0-.44s.12-.37.19-.55a11.34 11.34 0 01.51-1 4.79 4.79 0 00.69-2.1 72.07 72.07 0 017.75-9.31 37.76 37.76 0 014.86-4A20.55 20.55 0 0174 14.38a14.88 14.88 0 017.52.13 16.78 16.78 0 016.33 3.68 23 23 0 012.27 2.5l1 1.31c.32.45.57.9.85 1.36l.81 1.37.72 1.61c.12.27.24.54.34.81l.25.85c.15.57.33 1.13.44 1.7a11.29 11.29 0 00-.21 2.3 13.06 13.06 0 00.34 2.33c-.13-.09-.16-.24-.26-.08.63.11 0 1.58.58 1.83a36.86 36.86 0 01-2 9.12c.12-.49-.26-.89-.43-.32l.15.71h-.2c-.05.41.07.93.39.61a36.21 36.21 0 01-5.44 10.21c-2.21 3.07-4.61 5.88-6.84 8.78A43.91 43.91 0 0076.79 70c-4.34 3.66-8.2 6.7-12.07 11a3.67 3.67 0 010-1.07 4.65 4.65 0 01.97-2.47zM45 90c0-.36-.45-.84.2-.91-.1.28.01.72-.2.91z" /><path d="M38.14 26.81l-.4-.19.22-.15.18.34zM61 31.36c.14-.44.38-.07.45-.1-.22.32-.16-.32-.45.1zM72.93 19.49l-.12.06-.17-.52.29.46z" /></svg>');
  background-size: 100%;
  position: absolute;
  height: 20px;
  width: 20px;
  opacity: 0;
}
body .drawBox .smallHearts .smallHeart:nth-child(1) {
  left: 23%;
  top: 72%;
}
body .drawBox .smallHearts .smallHeart:nth-child(2) {
  left: -3%;
  top: 58%;
}
body .drawBox .smallHearts .smallHeart:nth-child(3) {
  left: 6%;
  top: 40%;
}
body .drawBox .smallHearts .smallHeart:nth-child(4) {
  left: 1%;
  top: 20%;
}
body .drawBox .smallHearts .smallHeart:nth-child(5) {
  left: 10%;
  top: 2%;
}
body .drawBox .smallHearts .smallHeart:nth-child(6) {
  left: 35%;
  top: -4%;
}
body .drawBox .smallHearts .smallHeart:nth-child(7) {
  left: 50%;
  top: 5%;
}
body .drawBox .smallHearts .smallHeart:nth-child(8) {
  left: 78%;
  top: 0%;
}
body .drawBox .smallHearts .smallHeart:nth-child(9) {
  left: 94%;
  top: 15%;
}
body .drawBox .smallHearts .smallHeart:nth-child(10) {
  left: 92%;
  top: 34%;
}
body .drawBox .smallHearts .smallHeart:nth-child(11) {
  left: 98%;
  top: 50%;
}
body .drawBox .smallHearts .smallHeart:nth-child(12) {
  left: 78%;
  top: 60%;
}
body .drawBox .smallHearts .smallHeart:nth-child(13) {
  left: 65%;
  top: 76%;
}
body .mainHeart {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .mainHeart svg {
  margin-top: 0%;
  width: 82%;
}
body .mainHeart svg .drawHeart {
  fill: none;
  stroke: #d63b3b;
  stroke-linejoin: bevel;
  stroke-width: 3px;
  stroke-dasharray: 1867.0498046875;
  stroke-dashoffset: 1867.0498046875;
  -webkit-animation: draw 3s linear 0.5s forwards;
          animation: draw 3s linear 0.5s forwards;
}
@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
body .greeting {
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 45px;
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
  height: 45px;
  line-height: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
body .greeting .s {
  display: table-cell;
  padding: 0 1px;
  opacity: 0;
}
body .greeting .s.space {
  padding-left: 7px;
}
body .greeting .s.squeeze {
  margin-left: -2px;
}
